* {
  margin: 0px;
  padding: 0px;
  font-family: "Rubik", sans-serif;
}

:root {
  --clr-light: #fff;
  --clr-dark: black;

  --clr-primary: #fff;
  --clr-secondary: black;
}

nav {
  padding: 30px;
}

.dark-mode {
  --clr-light: #fff;
  --clr-dark: black;
  background-color: black;
  --clr-primary: black;
  --clr-secondary: #fff;
}

.main_container {
  padding: 25px;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 70px 0px;
}

.header-logo-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  text-decoration: none;
}

.dark-text {
  color: var(--clr-secondary);
  font-size: 30px;
  font-weight: 500;
}

.text {
  color: #2ddbac;
  font-size: 30px;
  font-weight: 500;
  margin-left: -5px;
}

.main {
  display: flex;
  padding: 10px;
  box-shadow: 3px 4px 10px 4px var(--clr-secondary);
}

input {
  border: none;
  height: 40px;
  width: 95%;
  padding: 0px 10px;
  font-size: 20px;
  background: transparent;
  color: var(--clr-secondary);
}

.search-icon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--clr-secondary);
}

.bar-details-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

*:focus {
  outline: none;
}

.details-text {
  margin-top: 50px;
}

.details-text span {
  font-size: 20px;
  color: var(--clr-secondary);
}

/* Toggle Button */

.theme-change {
  margin-top: 10px;
}

#toggle-button {
  width: 30px;
  cursor: pointer;
}

@media (min-width: 300px) and (max-width: 419px) and (orientation: landscape) {
  .details-text span {
    font-size: 16px;
  }
}

@media (min-width: 500px) and (max-width: 855px) and (orientation: landscape) {
  .bar-details-section {
    margin-top: unset;
  }

  .container {
    padding: 20px 0px;
  }
}
